body {
    /*Dentro del body:*/
    font-family: Arial, sans-serif;
    /*Fuente de letra*/
    text-align: center;
    /*centra el texto*/
  }
  table {
    /*En la tabla:*/
    margin: 20px auto;
    /*Margen con los otros objetos 20px*/
    border-collapse: collapse;
    /*Las celdas comparten borde*/
  }
  td {
    /*En las casillas:*/
    border: 2px solid #333;
    /*Ancho del borde, tipo y color */
    width: 150px;
    /*Ancho*/
    height: 150px;
    /*Largo*/
    cursor: pointer;
    /*Cambia a clickable*/
    user-select: none;
    /*No se puede seleccionar la info dentro*/
    background-color: #3498db;
    /*Color de fondo*/
  }
  td img {
    /*Las imágenes*/
    width: 100%;
    /*Ocupa todo el ancho*/
    height: 100%;
    /*Ocupa todo el alto*/
    object-fit: cover;
    /*ajusta la img a la casilla*/
  }
  td.emparejado {
    /*Para las parejas encontradas*/
    cursor: default;
    /*hace que el objeto no parezca clickeable*/
  }
  button {
    /*Para los botones*/
    padding: 10px 20px;
    /*hace que el botón parezca más grande*/
    /*Espacio con respecto arriba y abajo 20px*/
    /*Espacio con respecto a los costados 10px*/
    font-size: medium;
    /*Tamaño de letra mediano*/
    cursor: pointer;
    /*hace que el objeto parezca clickeable*/
  }
  #mensaje {
    /*Id del mensaje final acá le damos el formato*/
    margin-top: 15px;
    /*separado 15px con el tablero de arriba*/
    font-weight: bold;
    /*texto en negrita*/
  }